<nz-divider nzText="项目组" nzOrientation="left"></nz-divider>
<nz-descriptions nzTitle="" nzBordered>
  <nz-descriptions-item nzTitle="项目经理">万德福</nz-descriptions-item>
  <nz-descriptions-item nzTitle="技术负责人">章北海</nz-descriptions-item>
  <nz-descriptions-item nzTitle="工地负责人">罗辑</nz-descriptions-item>
  <nz-descriptions-item nzTitle="物资组长">泰瑞宝</nz-descriptions-item>
  <nz-descriptions-item nzTitle="机械组长">汪淼</nz-descriptions-item>
  <nz-descriptions-item nzTitle="质检组长">杨东</nz-descriptions-item>
  <nz-descriptions-item nzTitle="财务组长">史强</nz-descriptions-item>
  <nz-descriptions-item nzTitle="实验室主任">叶文杰</nz-descriptions-item>
  <nz-descriptions-item nzTitle="后勤保卫组长">云天明</nz-descriptions-item>
</nz-descriptions>

<nz-divider nzText="内部结算" nzOrientation="left"></nz-divider>
<nz-descriptions nzTitle="" nzBordered>
  <nz-descriptions-item nzTitle="设计人天-计划">10</nz-descriptions-item>
  <nz-descriptions-item nzTitle="设计人天-实际">12</nz-descriptions-item>
  <nz-descriptions-item nzTitle="设计人天-差异"><span class="over">+2</span></nz-descriptions-item>
</nz-descriptions>

<nz-divider nzText="人力外包" nzOrientation="left"></nz-divider>
<nz-descriptions nzTitle="" nzBordered>
  <nz-descriptions-item nzTitle="计划">3400</nz-descriptions-item>
  <nz-descriptions-item nzTitle="实际">3480</nz-descriptions-item>
  <nz-descriptions-item nzTitle="差异"><span class="over">+80</span></nz-descriptions-item>


  <nz-descriptions-item nzTitle="土建施工-计划">1800</nz-descriptions-item>
  <nz-descriptions-item nzTitle="土建施工-实际">2080</nz-descriptions-item>
  <nz-descriptions-item nzTitle="土建施工-差异"><span class="over">+280</span></nz-descriptions-item>

  <nz-descriptions-item nzTitle="机电安装-计划">1600</nz-descriptions-item>
  <nz-descriptions-item nzTitle="机电安装-实际">1400</nz-descriptions-item>
  <nz-descriptions-item nzTitle="机电安装-差异"><span class="below">-200</span></nz-descriptions-item>
</nz-descriptions>

<div echarts [options]="chartOption" class="demo-chart"></div>

<nz-divider nzText="明细"></nz-divider>

<nz-calendar  [(ngModel)]="selectedValue"  nzMode="month">
  <ul *nzDateCell="let date" class="events">
    <ng-container [ngSwitch]="date.getDate()">
      <ng-container *ngSwitchCase="8">
          <span class="danger" nz-tooltip nzTooltipTitle="紧急抢修">
            200
          </span>
      </ng-container>
      <ng-container *ngSwitchCase="20">
        <span class="danger" nz-tooltip nzTooltipTitle="物资到货，赶进度">
            160
          </span>
      </ng-container>
      <ng-container *ngSwitchCase="25">
        <span class="danger" nz-tooltip nzTooltipTitle="工作区设备故障">
            76
          </span>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <nz-badge nzStatus="success" [nzText]="getDays(date.getDate())"></nz-badge>
      </ng-container>
    </ng-container>
  </ul>
</nz-calendar>
