<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a target="_blank">
        <img src="assets/ABCD.png" alt="logo" width="32px" height="32px">
        <h1>METIS</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="项目管理" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/project/overview">项目概览</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/project/detail">项目详情</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/project/category">业务模板</a>
          </li>
        </ul>
      </li>
      <div *ngIf="false">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/mxstats">MxStats</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="销售" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/order">订单</a>
          </li>
        </ul>
      </li>
      </div>
    </ul>


  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
        <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
