<nz-card [nzBordered]="false" nzTitle="">
<nz-descriptions nzTitle="基本信息">
  <nz-descriptions-item nzTitle="项目号">P020050</nz-descriptions-item>
  <nz-descriptions-item nzTitle="项目名称">项目 1</nz-descriptions-item>
  <nz-descriptions-item nzTitle="甲方">天津市滨海区政府</nz-descriptions-item>
  <nz-descriptions-item nzTitle="乙方">天津公司</nz-descriptions-item>
  <nz-descriptions-item nzTitle="设计院">天津规划院</nz-descriptions-item>
  <nz-descriptions-item nzTitle="项目负责人">万德福</nz-descriptions-item>
  <nz-descriptions-item nzTitle="联系电话">13676892384</nz-descriptions-item>
  <nz-descriptions-item nzTitle="开始时间">2019 年 3 月 15 日</nz-descriptions-item>
  <nz-descriptions-item nzTitle="结束时间">2020 年 10 月 30 日</nz-descriptions-item>
</nz-descriptions>
</nz-card>

<nz-card [nzBordered]="false" nzTitle="">
  <nz-tabset>
    <nz-tab nzTitle="合同">
      <app-contract> </app-contract>
    </nz-tab>
    <nz-tab nzTitle="资金">
      <app-fund> </app-fund>
    </nz-tab>
    <nz-tab nzTitle="物资">
      <app-material> </app-material>
    </nz-tab>
    <nz-tab nzTitle="计划">
      <app-plan> </app-plan>
    </nz-tab>
    <nz-tab nzTitle="人力">
      <app-resource> </app-resource>
    </nz-tab>
  </nz-tabset>
</nz-card>
