<div class="container">

  <div class="title" (click)="switchMode()">提单数据统计</div>

  <hr>

  <div [ngClass]="{hidden: !showDailySales}">
    <div class="columns">
      <div class="column is-2">
        <nz-date-picker [(ngModel)]="startDate" required ></nz-date-picker>
      </div>
      <div class="column is-3">
        <nz-range-picker [(ngModel)]="searchRange" required ></nz-range-picker>
      </div>
      <div class="column is-1">
        <a class="button is-primary">
          <span class="icon">
            <i class="fa fa-github"></i>
          </span>
          <span>查询</span>
        </a>
      </div>
    </div>
    <div class="columns" >
      <div class="column">
        <canvas #lineChart>Loading....</canvas>
      </div>
    </div>

  </div>

  <div class="columns" [ngClass]="{hidden: showDailySales}">
    <div class="column is-3">
      <div class="tabs">
        <ul>
          <li (click)="switchChart('doughnut')"
              [ngClass]="{'is-active': isCurrentChart('doughnut')}"><a>占比</a></li>
          <li (click)="switchChart('bar')"
              [ngClass]="{'is-active': isCurrentChart('bar')}"><a>数量</a></li>
        </ul>
      </div>
      <div>
        <canvas id='myChart' height="350px"></canvas>
      </div>
    </div>

    <div class="column is-1">
      <table class="table is-narrow" id="segmentTable">
        <thead>
        <tr>
          <th>提单</th>
          <th>客户</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let segment of allSegs" (click)="drillBySegment(segment.seg)"
            [ngClass]="{'selected': isSegmentSelected(segment.seg)}">
          <td>{{ segment.seg }}</td>
          <td>{{ segment.count}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="column" *ngIf="hasSelectedSegment();">
        <nav class="panel" >
          <p class="panel-heading">
            {{ selectedSegment }} 张提单的客户
          </p>
          <div class="panel-block">
            <p class="control has-icon">
              <input class="input is-small" type="text" placeholder="Search"
                     #custFilter
                     (keyup)="filterCustomer(custFilter.value)"
                     [(ngModel)]="customerFilter">
              <span class="icon is-small">
              <i class="fa fa-search"></i>
            </span>
            </p>
          </div>

          <div style="height: 400px;">
            <div style="overflow-y:auto;max-height: 400px;" >
              <a class="panel-block"
                 *ngFor="let customer of filteredCustomer; let i = index;"
                 (click)="drillByCust(customer)"
                 [ngClass]="{'selected': isCustomerSelected(customer)}">
                {{ i+1 }} {{ customer }}
              </a>
            </div>
          </div>
        </nav>
    </div>

    <div class="column" *ngIf="hasSelectedCustomer();">
      <article class="message">
        <div class="message-body">
          {{ selectedCustomer }}
        </div>
      </article>
      <table class="table is-narrow" id="blTable">
        <thead>
        <tr>
          <th>#</th>
          <th>日期</th>
          <th>提单号</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let itm of details; let i = index;">
          <td>{{ i+1 }}</td>
          <td>{{ itm.bizDate }}</td>
          <td>{{ itm.blNumber }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
