<div class="container">

  <div class="title" (click)="switchMode()">订单数据统计</div>

  <hr>

  <div [ngClass]="{hidden: !showDailySales}">
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-range-picker [(ngModel)]="searchRange" required ></nz-range-picker>
        <button nz-button nzType="default"><i nz-icon nzType="search"></i>查找</button>
      </div>
    </div>

    <div nz-row >
      <div nz-col>
        <canvas #lineChart>Loading....</canvas>
      </div>
    </div>
  </div>

  <div nz-row  nzGutter="16"  [ngClass]="{hidden: showDailySales}">
    <div nz-col nzSpan="8">
      <div class="tabs">
        <ul>
          <li (click)="switchChart('doughnut')"
              [ngClass]="{'is-active': isCurrentChart('doughnut')}"><a>占比</a></li>
          <li (click)="switchChart('bar')"
              [ngClass]="{'is-active': isCurrentChart('bar')}"><a>数量</a></li>
        </ul>
      </div>
      <div>
        <canvas id='myChart' height="250px"></canvas>
      </div>
    </div>

    <div nz-col nzOffset="1" nzSpan="3">
      <table class="table is-narrow" id="segmentTable">
        <thead>
        <tr>
          <th>订单</th>
          <th>供应商</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let segment of allSegs" (click)="drillBySegment(segment.seg)"
            [ngClass]="{'selected': isSegmentSelected(segment.seg)}">
          <td>{{ segment.seg }}</td>
          <td>{{ segment.count}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div nz-col nzSpan="12" *ngIf="hasSelectedSegment();" [ngClass]="{'hidden': showDetails}">
        <nav class="panel" >
          <p class="panel-heading">
            {{ selectedSegment }} 张订单的供应商
          </p>
          <div class="panel-block">
            <p class="control has-icon">
              <input class="input is-small" type="text" placeholder="Search"
                     #custFilter
                     (keyup)="filterCustomer(custFilter.value)"
                     [(ngModel)]="customerFilter">
              <span class="icon is-small">
              <i class="fa fa-search"></i>
            </span>
            </p>
          </div>

          <div style="height: 300px;">
            <div style="overflow-y:auto;max-height: 300px;" >
              <a class="panel-block"
                 *ngFor="let customer of filteredCustomer; let i = index;"
                 (click)="drillByCust(customer)"
                 [ngClass]="{'selected': isCustomerSelected(customer)}">
                {{ i+1 }} {{ customer }}
              </a>
            </div>
          </div>
        </nav>
    </div>

    <div nz-col  nzSpan="12" [ngClass]="{'hidden': !showDetails}">
      <nav class="panel" >
        <p class="panel-heading" (click)="backToList()">
            <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
            {{ selectedCustomer }}
        </p>

        <div style="height: 300px;">
          <div style="overflow-y:auto;max-height: 300px;" >
            <table class="table is-narrow" id="blTable">
              <thead>
              <tr>
                <th>#</th>
                <th>日期</th>
                <th>订单号</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let itm of details; let i = index;">
                <td>{{ i+1 }}</td>
                <td>{{ itm.biz_date }}</td>
                <td>{{ itm.bl_num }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </nav>
    </div>
  </div>

</div>
