<h1>在库量</h1>
<div nz-row>
  <div nz-col nzSpan="6">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input [(ngModel)]="materialCode" placeholder="请输入料号" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="getInventory()"><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>
</div>


<div nz-row>
  <nz-table #basicTable [nzData]="inventoryList" nzSize="middle" nzFrontPagination="false">
    <thead>
    <tr>
      <th>#</th>
      <th>物料</th>
      <th>总量</th>
      <th>已分配</th>
      <th>可用库存</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let itm of basicTable.data; let i = index;">
      <td>{{ i+1 }}</td>
      <td>{{ itm.materialCode }}</td>
      <td>{{ itm.totalQty }}</td>
      <td>
        <span>
          <ng-template [ngIf]="itm.allcQty > 0" [ngIfElse]="none">
            <a (click)="showAlloc(itm.materialCode)">{{ itm.allcQty }}</a>
          </ng-template>

          <ng-template #none>
            {{ itm.allcQty }}
          </ng-template>
        </span>

      </td>
      <td>{{ itm.avlQty }}</td>
    </tr>
    </tbody>
  </nz-table>
</div>


<nz-modal [(nzVisible)]="isVisible" nzTitle="已分配订单" nzWidth="800"
          (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
          [nzFooter]="null">

  <nz-table #allocTable [nzData]="allocationList" nzSize="middle" nzFrontPagination="false">
    <thead>
    <tr>
      <th>#</th>
      <th>订单</th>
      <th>客户</th>
      <th>数量</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let itm of allocTable.data; let i = index;">
      <td>{{ i+1 }}</td>
      <td>{{ itm.orderNum }}</td>
      <td>{{ itm.customerCode }}</td>
      <td>{{ itm.allocQty }}</td>
    </tr>
    </tbody>
  </nz-table>

</nz-modal>
